  .loginUser {
    color: #EFE1D3;
    background-color: #5E455A;
     border: solid 3pt;
    border-radius: 45px; 
    cursor: pointer;
    overflow: hidden;
    padding: 15px 32px;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Trebuchet MS", "sans-serif";
    margin: 0;
    top:30px;
    right: 150px;
  }
  .loginUser:hover {
    color: #5E455A;
        background-color: #EFE1D3;
        border-radius: 45px;
        text-decoration: underline;
        -webkit-box-shadow: 0px 0px 26px -4px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 26px -4px rgba(255,255,255,1);
box-shadow: 0px 0px 26px -4px rgba(255,255,255,1);

  }  
  