.our {
  font-size: 45px;
  color: #5E455A;
  display: flex;
  margin-top: 25px;
  margin-left: 40px;
  text-decoration: underline;
}

.topwines {
    color: #5E455A;
    float: left;
    font-size: 60px;
    margin-right: 45px;
    font-weight: 700;
    margin-bottom: 25px;
    display: flex;
    text-decoration: underline;
      
  }
  .flexContainer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: larger;
  }
  
  .reel {
    width: 100%;
    padding: 5px 1px;
    background-color: #fff;
  }
  
  .prodCard {
    width: 300px;
  }
  .card{
    border-width: 3px;
    border-style: solid;
    border-color: #5E455A;
  }
.name{
    color: #5E455A;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}

.cardtop{
    display: flex;
    justify-content: center;
}

.cardbottom{
    display: flex;
    justify-content: center;
}

.cardbottom h3{
    color: #5E455A;
    text-align: center;
    margin-left: 12px;
}

.category h4{
    color: #5E455A;
    justify-content: center;
    margin-top: -14px;
    display: flex;
    margin-left: 5px;
}